<!--#https://media.giphy.com/media/BfbUe877N4xsUhpcPc/giphy.gif-->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>


  <table>
    <tr>
      <th>Animation-Preview</th>
      <th>Select</th>
      <th>Send</th>
    </tr>
    <tr>
      <td>
        <img src="https://media.giphy.com/media/BfbUe877N4xsUhpcPc/giphy.gif">
      </td>
      <td>
        <div class="radio">
          <label> <input type="radio" id='animation1' name='optradio'></label>
        </div>
      </td>
      <td>
        <div class="button">
          <label> <input type="button" id='send1' name='optradio' value="tiki1"></label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://media.giphy.com/media/BfbUe877N4xsUhpcPc/giphy.gif">
      </td>
      <td>
        <div class="radio">
          <label> <input type="radio" id='animation2' name='optradio'></label>
        </div>
      </td>
      <td>
        <div class="button">
          <label> <input type="button" id='send2' name='optradio' value="tiki2"></label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://media.giphy.com/media/BfbUe877N4xsUhpcPc/giphy.gif">
      </td>
      <td>
        <div class="radio">
          <label> <input type="radio" id='animation3' name='optradio'></label>
        </div>
      </td>
      <td>
        <div class="button">
          <label> <input type="button" id='send3' name='optradio' value="tiki3"></label>
        </div>
      </td>
    </tr>
  </table>

</body>

</html>